//COLORES
$color-base: #9AFF63;
$color-fondo: #ffffff;
$color-footer: #c1c1c1;
$color-rastreo: #393939;
$color-li-hover: #7ffca0;
$c-anima-1: #eee;
$c-anima-2: #ffffffcc;
$c-anima-3: #0000001a;
$c-anima-4:#00000066;
$c-a-nav: #000000;
$c-header-top:#ffffff;

$colores: (
    'base': #9AFF63,
    'fondo':#ffffff,
    'footer':#c1c1c1,
    'rastreo':#393939,
    'li-hover':#7ffca0,
    'a-nav':#000000,
    'anima-1':#eee,
    'anima-2':#ffffffcc,
    'anima-3':#0000001a,
    'anima-4':#00000066,
    'header-top':#ffffff
);